	{% include analyticstracking.html %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/events.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/application.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/lunr-feed.js"></script>
</body>
</html>