<form id="contact-form" action="https://formspree.io/info@greatproject.org.uk" method="post">
<div class="form-item">What support would you like?<select id="support" name="support">
<option value="">- Choose one -</option>
<option value="ask_question">I would like more information</option>
<option value="my_family">Support for my family</option>
<option value="refer_family">Support for a family I work with</option>
</select></div>
<div id="eligibility" class="box box-light-turq">
	<h4>We can help people who are:</h4>
	<ul class="checklist">
		<li class="check">not currently in work, education or training</li>
		<li>living in Leicester or Leicestershire</li>
		<li>part of a family</li>
		<li>18+ years old</li>
	</ul>
</div>
<div class="form-item"><label>Your Name</label> <input type="text" name="_subject"></div>
<div id="textfield-email" class="form-item"><label>Your Email</label> <input type="text" name="email"></div>
<div id="textfield-phone" class="form-item"><label>Your Phone</label> <input type="text" name="phone"></div>
<div id="textfield-organisation" class="form-item"><label>Referring Organisation</label> <input type="text" name="organisation"></div>
<div id="textfield-surname" class="form-item"><label>Surname of family to be supported</label> <input type="text" name="surname"></div>
<div id="textfield-postcode" class="form-item"><label>Postcode</label> <input type="text" name="postcode"></div>
<div id="textfield-adults" class="form-item"><label>Number of adults in household</label> <input type="text" name="adults"></div>
<div id="textfield-children" class="form-item"><label>Number of children in household</label> <input type="text" name="children"></div>
<div id="textfield-belowschoolage" class="form-item"><label>Number of children below school age in household</label> <input type="text" name="belowschoolage"></div>
<div id="textarea-access" class="form-item"><label>Access requirements</label> <textarea name="access-needs" cols="40" rows="5"></textarea></div>
<div id="textarea-message" class="form-item"><label>Your message</label> <textarea name="message" cols="40" rows="5"></textarea></div>
<div class="form-item"><input type="hidden" name="formname" value="www_great_leicester_org_uk_contact"></div>
<div class="form-item"><input type="text" name="gotcha" style="display:none"></div>
<input type="hidden" name="_next" value="https://www.greatproject.org.uk/thankyou" />
<div class="form-item"><input type="submit" value="Send Message"></div>
</form>